<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kitchening</title>
<link rel="stylesheet" href="/css/styles.css"></head>
<body>
    <header>
        <img src="/img/logo.jpg" alt="">
        <nav>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Quienes</a></li>
                <li><a href="">Servicios</a></li>
                <li><a href="">Porfolio</a></li>
                <li><a href="">Sucursales</a></li>
                <li><a href="">Contacto</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <section class="banner">
            <img src="/img/img-banner.jpg" alt="">

        </section>

    </main>
    

    <footer>


    </footer>
</body>
</html>